.success-message {
  background-color: rgb(69, 196, 69);
  color: #fff;
  padding: 8px;
  font-size: bold;
  display: none;
}

.error-message {
  background-color: rgb(245, 18, 18);
  color: #fff;
  padding: 8px;
  font-size: bold;
  display: none;
}
